Copyright (c) __YEAR__ Pierre Bieber. Alle Rechte vorbehalten.

Diese Software und der zugehoerige Quellcode sind urheberrechtlich geschuetzt
und vertraulich (proprietary and confidential). Jede Nutzung, Vervielfaeltigung,
Verbreitung oder Veraenderung ohne ausdrueckliche schriftliche Genehmigung des
Urhebers ist untersagt.
