<Solution>
  <Folder Name="/SolutionItems/">
    <File Path="Directory.Build.props" />
    <File Path=".gitignore" />
    <File Path="nuget.config" />
    <File Path="README.md" />
    <File Path="LICENSE" />
  </Folder>
  <Folder Name="/src/" />
  <Folder Name="/tests/" />
  <Folder Name="/docs/" />
</Solution>
